:root {
	--dark-bg: #171714;
	/*--text: white;*/
	--text: #dbdbdb;
	--light-green: #65b577;
	--default-font-family: Arial, Helvetica, sans-serif;
	--monospace-font-family: "Courier New", Courier, monospace;
}

body {
	background: var(--dark-bg);
	font-family: var(--default-font-family);
	font-size: large;
	margin: auto;
	width: 75%;
	max-width: 900px;
}

header {
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--light-green);
}

article {
	border-color: var(--text);
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	padding: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

nav {
	text-align: center;
}

p {
	color: var(--text);
}

a {
	color: var(--light-green);
	text-decoration: unset;
}

a:hover {
	text-decoration: underline;
}

ol {
	color: var(--text);
}

ul {
	color: var(--text);
}

code {
	font-family: var(--monospace-font-family);
	font-size: large;
}

.italic {
	font-style: italic;
}

.subtitle {
	font-size: smaller;
	font-style: italic;
}

label {
	color: var(--text);
}

input {
	margin-bottom: 25px;
	width: 98%;
}

textarea {
	height: 350px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 25px;
}

.django-ckeditor-widget {
	width: 100%;
}

#cke_id_content {
	width: 100% !important;
	margin-bottom: 25px;
}

button {
	padding: 5px 25px;
	margin: 0px 10px;
	font-family: var(--default-font-family);
}

form {
	text-align: center;
}

.button {
	padding: 5px 25px;
	margin: 0px 10px;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

.centralize {
	text-align: center;
}