:root {
	--dark-bg: #171714;
	--light-green: #65b577;
}

body {
	background: var(--dark-bg);
	color: white;
	font-family: Verdana;
	margin: auto;
	width: 75%;
	max-width: 800px;
}

header {
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--light-green);
}

article {
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 15px;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

a {
	color: var(--light-green);
	text-decoration: unset;
}

a:hover {
	text-decoration: underline;
}

.text {
	color: white;
}
