{% extends "./base.html" %}

{% block content %}
<article>
	<h2>About</h2>
	<p>Bistromática é um projeto com objetivo de democratizar o acesso ao estudo de programação, com maior enfoque em Python. Meu desejo é conseguir traduzir para uma linguagem acessível conceitos avançados de ciência de dados e matemática, sem se aproveitar do excesso de simplificações que comumente está associado aos tutoriais encontrados pela internet.</p>

	<h3>Autor</h3>
	<p>Meu nome é Felipe, tenho 29 anos e sou estudante de graduação em Matemática Computacional pela UFMG. Eu amo programar, mas não vejo propósito em estudar se eu não aplicar meu conhecimento em algo que dê um retorno positivo para a sociedade. Eu amo ensinar, e dei aula particular e monitorias ao longo de quase todos os meus 20-30 anos. Em 2017, tomei a decisão de que eu queria ser programador, e deixei minha vida de professor de lado. Apesar disso, ainda gosto e sinto falta de dar aula, por isso decidi que levaria como um hobby alguma maneira de produzir conteúdo educativo online. </p>

	<p>Esse blog foi o meio de ensino mais conveniente que encontrei, pois além de poder divulgar meus conhecimentos adquiridos na faculdade e nos meus projetos pessoais, ou ao longo da minha (até então) breve carreira como programador, eu também tenho a oportunidade de praticar um desenvolvimento web full-stack criando-o a partir do zero.</p>

	<p>Se você gosta do conteúdo que eu posto aqui e quer saber mais sobre o que vem por aí, vale a pena dar uma conferida na minha campanha no apoia.se para ver as metas que tenho a atingir com esse blog. Aproveita que você está lá, e se você tiver condições, <a href="{% url 'donate' %}">considere doar para me ajudar a sustentar o blog</a> e produzir mais conteúdo no futuro!</p>

	<div class="centralize">
		<p>
			|
			<a href="https://www.linkedin.com/in/munizcrpf/">Linkedin</a> |
			<a href="https://github.com/fpmuniz">GitHub</a> |
			<a href="https://www.youtube.com/channel/UCQZgwANZiiQrx8gzeS1lUGA">YouTube</a> |
		</p>
	</div>
</article>
{% endblock content %}
