{% extends "./base.html" %}

{% block content %}
<article>
	<h2>Donate</h2>
	<p>Tenho uma série de motivos para não desejar usar anúncios como fonte de sustento para esse site. Embora eu pudesse me esforçar para explicá-las aqui, dificilmente eu faria um melhor trabalho do que <a href="https://www.youtube.com/watch?v=qQ-PUXPVlos">o trabalho que Jaron Lanier vem fazendo </a>para conscientizar as pessoas sobre os perigos desse modelo gratuito da internet.</p>

	<p>Optar por não usar anúncios é um caminho mais difícil, menos lucrativo e até custoso para o meu bolso, porque o site precisa de algum financiamento para se manter no ar. Eu não desejo produzir conteúdo pago, porque eu acredito fortemente que o papel da tecnologia deve ser o de trazer melhorias sociais para todos. A partir do momento que eu cobro pelo meu conteúdo, eu deixo de democratizá-lo, e eu ajudo a sustentar uma hierarquia socio-intelectual problemática que já existe e que não precisa de mais sustento vindo da minha parte.</p>

	<p>Por conta disso, se você gosta do meu trabalho, e deseja que eu continue produzindo conteúdo gratuito e livre de anúncios, por favor, considere doar algum valor para a minha campanha no apoia.se. Qualquer ajuda é bem-vinda, não importa o quão pequena ela for. Quanto mais doações eu receber, mais tempo eu posso dedicar para melhorar o código do blog, produzir posts com maior frequência, estudar sobre novas tecnologias para poder criar conteúdo sobre elas, e quem sabe até voltar a produzir vídeos para o YouTube!</p>

	<p><a href="https://apoia.se/bistromatica">Se você quer me apoiar a continuar produzindo conteúdo, clique aqui! :)</a></p>
</article>
{% endblock content %}
