{% extends "./base.html" %}
{% load static %}

{% block title %}
bistromática - edit post
{% endblock title %}

{% block content %}
<article>
	<form method="post">
		{% csrf_token %}
		{{ form.media }}
		{{ form }}
		<!-- <button formaction="{% url 'index' %}" formmethod ="get" formnovalidate="true">Cancel</button> -->

		{% if post.id %}
		<button formaction="{% url 'post_delete' post.pk %}" formmethod="get">Delete</button>
		{% endif %}

		{% if not post.published_at %}
			{% if post.pk %}
			<button formaction="{% url 'post_publish' post.pk %}">Publish!</button>
			{% else %}
			<button formaction="{% url 'post_publish' %}">Publish!</button>
			{% endif %}
		{% endif %}

		<button type="submit">Save</button>
	</form>
</article>
{% endblock content %}
