<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>bistromática - edit post</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_edit.css' %}">
</head>

<body>
	<header>
		<h1><a href="{% url 'index' %}">bistromática</a></h1>
		<h2>edit post</h2>
	</header>
	<article>
		<form method="post" action="">
		<input id="title" value="{{ post.title }}"></input>
		<textarea id="content" rows=30>{{ post.content }}</textarea>
		<button type="button">Cancel</button>
		<button type="button">Delete</button>
		<button type="button">Publish!</button>
		<button type="button">Save</button>
	</form>
	</form>
	</article>
</body>
</html>
